{
  "presets": [
    "@babel/preset-env",
    "@babel/preset-react",
    "@babel/preset-typescript"
  ],
  "plugins": [
    [
      "@babel/plugin-proposal-class-properties",
      {
        "loose": true,
      }
    ],
    "@babel/plugin-syntax-dynamic-import",
    "@babel/plugin-transform-runtime",
    "react-hot-loader/babel",
    [
      "prismjs",
      {
        "languages": [
          "javascript",
          "css",
          "markup",
          "cpp",
          "bash",
          "docker",
          "go",
          "json",
          "markdown",
          "python",
          "jsx",
          "tsx",
          "scss",
          "typescript"
        ],
        "plugins": [
          "autolinker",
          "command-line"
        ],
        "theme": "default",
        "css": true
      }
    ]
  ]
}
