# General
.DS_Store
*~
*.swp
*.log

# Editor config folder
.idea/
.vscode/
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Code coverage
coverage/
.coveralls.yml

# Misc
.awcache/
node_modules/
dist/
