# http://editorconfig.org

# top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending every file
[*]
charset = utf-8
insert_final_newline = true
trim_trailing_whitespace = true

# Indentation override for js, ts and config files
[*.{js,jsx,ts,tsx,json,yml}]
indent_size = 2
indent_style = space

# Indentation override for css files
[*.{css,styl,scss,less,sass}]
indent_size = 2
indent_style = space

# Indentation override for all html files
[*.html]
indent_size = 2
indent_style = space
