{
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  },
  "extends": [
    "airbnb"
  ],
  "parser": "babel-eslint",
  "rules": {
    "indent": ["error", 2],
    "max-len": 0,
    "quotes": ["error", "single", { "allowTemplateLiterals": true }],
    "no-console": 0,
    "import/export": 2,
    "import/first": 2,
    "import/no-commonjs": 2,
    "import/no-deprecated": 1,
    "import/no-duplicates": 2,
    "import/no-unresolved": 2,
    "import/no-webpack-loader-syntax": 2,
    "import/prefer-default-export": 0
  }
}
