{
  "env": {
    "browser": true,
    "node": true,
    "es6": true,
    "jquery": true
  },
  "extends": [
    "airbnb"
  ],
  "rules": {
    "import/export": "error",
    "import/first": "error",
    "import/no-commonjs": "error",
    "import/no-deprecated": "error",
    "import/no-duplicates": "error",
    "import/no-unresolved": "error",
    "import/no-webpack-loader-syntax": "error",
    "import/prefer-default-export": "off",
    "indent": ["error", 2],
    "linebreak-style": "off",
    "max-len": "off",
    "no-console": "warn",
    "quotes": ["error", "single", { "allowTemplateLiterals": true }]
  }
}
