{
  "extends": "stylelint-config-standard",
  "rules": {
    "at-rule-no-unknown": [ true, {
      "ignoreAtRules": [
        "extend"
      ]
    }]
  },
  "ignoreFiles": [
    "./node_modules/**",
    "./frontend/dist/**",
    "./coverage/**"
  ]
}
