@import 'sass/variables';
@import '../../reactPage';

.fetch-note-layout {
  @extend .react-block;
}

.fetch-note-title {
  @extend .react-block-title;
}

.fetch-note-collection {
  margin: 25px 0 0 0;
}

.fetch-note-error-panel {
  margin: 20px 0 0 0;
}

.fetch-note-filter-btn {
  width: 30%;
}

@media only screen and (max-width: $small-screen) {
  .fetch-note-filter-btn {
    width: 80%;
    max-width: 300px;
  }
}
