// Primary color
$primary-color: color("blue", "base");

// H1 style
h1 {
  color: $primary-color;
  text-align: center;
}

// Images
img {
  &.re-zero,
  &.re-zero::after {
    max-width: 50%;
    height: auto;
    content: url("../image/rezero.png");
  }

  &.parallax-img-1,
  &.parallax-img-1::after {
    display: block;
    content: url("../image/parallax1.jpg");
  }

  &.parallax-img-2,
  &.parallax-img-2::after {
    display: block;
    content: url("../image/parallax2.jpg");
  }
}

// App background
.app-background {
  position: relative;
  max-width: 50%;
  height: auto;
  margin: 50px auto 10px;
  padding: 10px;
  border: 1px #ccc solid;
}

// Container
.container {
  max-width: 1280px;
  height: 100%;
}

@media only screen and (min-width: 601px) {
  .container {
    width: 70%;
  }
}

@media only screen and (min-width: 993px) {
  .container {
    width: 85%;
  }
}
