@import "variables";

:global {
  @import "~materialize-css/sass/materialize";

  .container {
    height: 100%;
  }

  .page-title {
    color: $primary-color;
    text-align: center;
  }

  @media only screen and (max-width: $medium-screen) {
    .page-title {
      font-size: 4em;
    }
  }

  @media only screen and (max-width: $small-screen) {
    .page-title {
      font-size: 2.5em;
    }
  }

  // Highlight css-module caused undefined class
  .undefined {
    border: solid white 3px;
    outline: solid red 3px;
  }
}
