@import "variables";

:global {
  .container {
    height: 100%;
  }

  .page-title {
    color: $primary-color;
    text-align: center;
  }

  @media only screen and (max-width: $median-screen-size) {
    .page-title {
      font-size: 4em;
    }
  }

  @media only screen and (max-width: $small-screen-size) {
    .page-title {
      font-size: 3em;
    }
  }
}
