.fetch-note-layout {
  @extend .react-block;

  .fetch-note-title {
    @extend .react-block-title;
  }

  .fetch-note-collection {
    margin: 25px 0 0 0;
  }

  .fetch-note-error-panel {
    margin: 20px 0 0 0;
  }

  .input-note-id {
    width: 8%;
    padding: 0 20px 0 0;
  }

  .input-note-content {
    width: 40%;
    padding: 0 20px 0 0;
  }

  .btn {
    width: 30%;
  }
}

@media only screen and (max-width: $small-screen-size) {
.fetch-note-layout {
    .btn {
      width: 80%;
      max-width: 300px;
    }
  }
}
