// Todo App
.todo-app {
  @extend .app-background;

  .todo-title {
    display: block;
    font-weight: 100;
    font-size: 5em;
    color: color("teal", "lighten-1");
    margin-bottom: 20px;
  }

  .todo-filter-btn {
    width: 120px;
    text-align: center;
    margin: 3px;
    padding: 0;
  }
}
