<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta content="ie=edge" http-equiv="x-ua-compatible">
  <meta content="width=device-width, initial-scale=1" name="viewport">
	<meta content="My full-stack boilerplate that using express with webpack, react and typescirpt! (hot module reload and materialize-css supported)" name="description">
  <title><%= htmlWebpackPlugin.options.title %></title>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
  <div id="root"></div>
</body>
</html>
