<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="Full-stack boilerplate that using express with webpack, react and typescript!">
  <meta name="theme-color" content="#2196f3">
  <title><%= htmlWebpackPlugin.options.title %></title>
  <meta name="apple-mobile-web-app-title" content="Boilerplate">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="default">
  <link rel="apple-touch-icon" sizes="120x120" href="/apple-touch-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/apple-touch-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="167x167" href="/apple-touch-icon-167x167.png">
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon-180x180.png">
  <link rel="apple-touch-startup-image" href="/apple-touch-startup-icon-1024x1024.png">
  <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#2196f3">
  <link rel="manifest" href="/manifest.webmanifest">
  <link rel="shortcut icon" href="/favicon.ico">
</head>
<body>
  <noscript>
    For full functionality of this site it is necessary to enable JavaScript.
    Here are the <a href="https://www.enable-javascript.com/" target="_blank"> instructions how to enable JavaScript in your web browser</a>.
  </noscript>
  <div id="root"></div>
  <!--
    This HTML file is a template.
    If you open it directly in the browser, you will see an empty page.

    You can add webfonts, meta tags, or analytics to this file.
    The build step will place the bundled scripts into the <body> tag.

    To begin the development, run `yarn dev`.
    To run in production mode, use `yarn prod`.
  -->
  <script>
    // Async load Google Material Icons, eliminate render-blocking resources.
    // See https://github.com/typekit/webfontloader#get-started for details.
    WebFontConfig = {
      google: {
        families: ['Material Icons']
      }
    };
    (function (d) {
      var wf = d.createElement('script'), s = d.scripts[0];
      wf.src = 'https://cdnjs.cloudflare.com/ajax/libs/webfont/1.6.28/webfontloader.js';
      wf.async = true;
      s.parentNode.insertBefore(wf, s);
    })(document);
  </script>
</body>
</html>
