@import 'sass/variables';

.react-block {
  border: 1px lightgray solid;
  margin: 50px auto;
  width: 850px;
  padding: 20px 30px 40px;
}

@media only screen and (max-width: $medium-screen) {
  .react-block {
    max-width: 80%;
  }
}

@media only screen and (max-width: $small-screen) {
  .react-block {
    max-width: 85%;
  }
}

.react-block-title {
  display: block;
  font-weight: 100;
  font-size: 4.5em;
  color: $secondary-color;
  margin-bottom: 20px;
}

@media only screen and (max-width: $medium-screen) {
  .react-block-title {
    font-weight: 100;
    font-size: 4em;
  }
}

@media only screen and (max-width: $small-screen) {
  .react-block-title {
    font-weight: 100;
    font-size: 3em;
  }
}
